.laugh{
    background-color: thistle;
    height: 400px;
    width: 400px;
}
button{
    padding: 50px;
    border-radius: 10px;
    background-position: center;
    margin-left: 50px;
    margin-top: 50px;
}